.main1 {
  position: relative;
  width: 1170px;
  height: 1296px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}
.h1 {
  position: relative;
  width: 1070px;
  height: 140px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
.h2 {
  position: relative;
  width: 870px;
  height: 58px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
.p {
  position: relative;
  width: 809px;
  height: 246px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353a5a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numbers {
  position: relative;
  width: 1170px;
  height: 107px;
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div {
  position: relative;
  width: 270px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.number {
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #10b582;
}
.txt {
  position: relative;
  width: 270px;
  height: 34px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353a5a;
}
