.wrapper {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}
.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 800px;
  background: #10b582;
  display: flex;
}
.container2 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 939px;
}
